
#wrapper {
    padding: 10px;
}

#content {
    max-width: 960px;
}

#footer {
    border-top: 2px solid lightslategray;
    font-family: monospace;
    font-size: medium;
    color: navy;
}
    
.fileheader {
    border: 1px solid rgb(95, 238, 238);    
    background-color: rgb(207, 240, 240);
    padding-left: 10px;
    border-radius: 12px;
}

.filename {
    font-family: monospace;
    font-size: large;
    color: navy;
}

.filetime {
    font-family: monospace;
    font-size: small;
    color: darkslategrey;  
    margin-left: 5px;
}

.filecontent {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

pre {
    margin: 0px;
}

.item0, .item1 {
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 8px;
    margin: 4px 0 8px;
}

.item0 {
    background-color: rgb(232, 248, 250);
}

.item1 {
    background-color: rgb(250, 250, 232);
}
