
h1 {color: steelblue;}
h2 {color: slategrey;}

#wrapper {padding: 10px;}

#content {max-width: 960px;}

#footer {
    border-top: 2px solid #999;
    font-family: monospace;
    font-size: 10px;
    color: #111;
}
    
#main {border-top: 2px solid #999;}

.fileheader {
    border: 1px solid #9797CD;
    background-color: #EEF;
    padding-left: 10px;
}

.filename {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    color: navy;
}

.filetime {
    margin-left: 5px;
    font-family: monospace;
    font-size: small;
    color: #111;
}

.filecontent {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

pre {
    margin: 0px;
    font-family: Consolas, monospace;
}

.item0, .item1 {
    padding-left: 10px;
    padding-top: 5px;
    margin: 4px 0 8px;
}

.item0 {background-color: #F5F5F5;}

.item1 {background-color: #FFF;}

.flagged {font-weight: bold;}

#flagged_section, #tags_section, #contents_section {
    border-top: 2px solid #999;
    margin-bottom: 30px;
}

#flagged_items a, #tagged_items a, #contents_section a {
    font-family: monospace;
    font-size: large;
    color: navy;
}

#flagged_items {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.flag0, .flag1 {
    padding-left: 10px;
    padding-top: 5px;
    margin: 4px 0 8px;
}

#tagged_items {margin-bottom: 25px;}

.tag0, .tag1 {
    padding-left: 10px;
    padding-top: 5px;
    margin: 4px auto 8px 20px;
}

.flag0, .tag0 {background-color: #F5F5F5;}

.flag1, .tag1 {background-color: #FFF;}

.tagheader {
    margin-top: 20px;
    padding: 5px 5px 5px 10px;
    border: 1px solid rgb(231, 231, 146);
    background-color: rgb(250, 250, 232);
}

.toplink {font-size: x-small;}

#contents_section h3 {margin-left: 20px;}

#contents_section ul {margin-left: 20px;}

#settings_section {
    border-top: 2px solid #999;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
